{% load i18n %}
<footer class="body-footer">
  <div class="container">
    <div class="row">
      <div class="col">
        <ul class="nav">
          <li class="nav-item"><a class="nav-link" href="#">{% trans "Privacy Policy" %}</a></li>
          <li class="nav-item"><a class="nav-link" href="#">{% trans "Contact" %}</a></li>
        </ul>
      </div>
      <div class="col">
        <p class="text-right navbar-text mb-0">Antalis Copyright &copy; 2018 {{ cookiecutter.copyright }}. All rights reserved</p>
      </div>
    </div>
  </div>
</footer>