{% extends "base/layout/page.html" %}
{% load i18n static %}
{% block content %}
  <div class="container">
    <div class="pt-5">
      <h1>{{ object.name }}</h1>
      {% load thumbnail %}
      <div class="row">
        {% for name, version in versions %}
          <div class="card m-2" style="width: 300px">
            <img src="{{ version.url }}" height="300" width="300" class="card-img-top"/>
            <div class="card-body">
              <h5 class="card-title">{{ name }}</h5>
              <a href="{{ version.url }}" class="btn btn-primary" download="{{ object.file.name }}">{% trans "Pobierz" %} {{ version.width }}x{{ version.height }}</a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
