/* line 6, theme/styles/screen.scss */
html {
  font-size: 18px;
  position: relative;
  min-height: 100%; }

/* line 16, theme/styles/screen.scss */
body {
  background: #fff; }
  /* line 18, theme/styles/screen.scss */
  body main {
    background: #fff;
    padding-bottom: 3rem; }

/* line 25, theme/styles/screen.scss */
.navbar {
  border-left: 1px solid #4c4280;
  border-right: 1px solid #4c4280; }

/* line 30, theme/styles/screen.scss */
.body-header {
  background-color: #343a40; }

/* line 34, theme/styles/screen.scss */
.body-footer {
  position: absolute;
  background-color: #343a40;
  bottom: 0;
  width: 100%;
  height: 3rem;
  font-size: 0.66667rem;
  line-height: 1rem; }
  /* line 42, theme/styles/screen.scss */
  .body-footer ul {
    text-transform: uppercase; }
  /* line 45, theme/styles/screen.scss */
  .body-footer .container {
    background-color: #343a40; }

/* line 52, theme/styles/screen.scss */
.card {
  margin-bottom: 10px;
  -webkit-box-shadow: 0px 5px #f7f7f7;
          box-shadow: 0px 5px #f7f7f7; }

/* line 67, theme/styles/screen.scss */
.delivery h2 .btn {
  padding: 0;
  padding-bottom: 12px;
  padding-top: 12px; }

/* line 72, theme/styles/screen.scss */
.delivery .status, .delivery .delivery, .delivery .events, .delivery .btn-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  margin-right: 0;
  margin-left: 0; }

/* line 79, theme/styles/screen.scss */
.delivery .status .entry, .delivery .delivery .entry, .delivery .btn-inner .entry {
  font-weight: bold; }

/* line 83, theme/styles/screen.scss */
.delivery .status {
  color: #FFFFFF;
  background: #e83e8c; }
  /* line 86, theme/styles/screen.scss */
  .delivery .status .entry {
    text-transform: uppercase; }

/* line 90, theme/styles/screen.scss */
.delivery .label, .delivery .entry, .delivery h3 {
  padding-bottom: 7px;
  padding-top: 7px; }

/* line 94, theme/styles/screen.scss */
.delivery h3 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #343a40;
  color: #ffffff;
  font-size: 1rem;
  margin-bottom: 0;
  font-weight: bold; }
  @media (min-width: 768px) {
    /* line 94, theme/styles/screen.scss */
    .delivery h3 {
      padding-left: 40px;
      padding-right: 40px; } }

/* line 104, theme/styles/screen.scss */
.delivery .delivery {
  background: #6c757d;
  padding-bottom: 15px;
  padding-top: 15px; }

/* line 109, theme/styles/screen.scss */
.delivery .events .table {
  margin-bottom: 0; }

/* line 113, theme/styles/screen.scss */
.delivery .label {
  padding-left: 15px;
  padding-right: 15px; }
  @media (min-width: 768px) {
    /* line 113, theme/styles/screen.scss */
    .delivery .label {
      position: relative;
      width: 100%;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 33.33333%;
              flex: 0 0 33.33333%;
      max-width: 33.33333%; } }
  @media (min-width: 768px) {
    /* line 113, theme/styles/screen.scss */
    .delivery .label {
      padding-left: 40px;
      padding-right: 40px; } }

/* line 121, theme/styles/screen.scss */
.delivery .entry {
  padding-left: 15px;
  padding-right: 15px; }
  @media (min-width: 768px) {
    /* line 121, theme/styles/screen.scss */
    .delivery .entry {
      position: relative;
      width: 100%;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 66.66667%;
              flex: 0 0 66.66667%;
      max-width: 66.66667%; } }
  @media (min-width: 768px) {
    /* line 121, theme/styles/screen.scss */
    .delivery .entry {
      padding-left: 40px;
      padding-right: 40px; } }

/* line 128, theme/styles/screen.scss */
.delivery .btn {
  color: #212529;
  text-decoration: none; }
  /* line 131, theme/styles/screen.scss */
  .delivery .btn:hover {
    -webkit-text-decoration-line: none;
            text-decoration-line: none; }

/* line 135, theme/styles/screen.scss */
.delivery .btn.collapsed {
  background-color: #6c757d; }

/* line 139, theme/styles/screen.scss */
.delivery .btn-inner:after {
  content: "";
  width: 23px;
  height: 13px;
  position: absolute;
  top: 28px;
  right: 18px;
  color: #e83e8c;
  background: no-repeat url("/static/assets/images/up.png"); }

/* line 150, theme/styles/screen.scss */
.delivery .collapsed .btn-inner:after {
  background: no-repeat url("/static/assets/images/down.png"); }

/* line 155, theme/styles/screen.scss */
.bg-pink {
  color: #FFFFFF;
  background: #e6007e; }

/* line 161, theme/styles/screen.scss */
.table th,
.table td {
  padding-left: 15px;
  padding-right: 15px; }
  @media (min-width: 768px) {
    /* line 161, theme/styles/screen.scss */
    .table th,
    .table td {
      padding-left: 40px;
      padding-right: 40px; } }
  /* line 164, theme/styles/screen.scss */
  .table th .time,
  .table td .time {
    padding-left: 0.4em; }
    @media (min-width: 768px) {
      /* line 164, theme/styles/screen.scss */
      .table th .time,
      .table td .time {
        padding-left: 4rem; } }

/* line 173, theme/styles/screen.scss */
.destination {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 18px;
  padding-bottom: 18.5px;
  padding-top: 18.5px;
  font-weight: bold; }
  @media (min-width: 768px) {
    /* line 173, theme/styles/screen.scss */
    .destination {
      padding-left: 40px;
      padding-right: 40px; } }
  /* line 181, theme/styles/screen.scss */
  .destination p {
    margin-bottom: 0;
    margin-left: 40px; }
  /* line 185, theme/styles/screen.scss */
  .destination span {
    font-weight: normal; }
  /* line 188, theme/styles/screen.scss */
  .destination img {
    margin-right: 0.75rem;
    position: absolute; }

/* line 194, theme/styles/screen.scss */
.navbar {
  padding-left: 40px;
  padding-right: 40px; }
  /* line 197, theme/styles/screen.scss */
  .navbar .navbar-brand {
    padding: 0; }

/* line 201, theme/styles/screen.scss */
header .navbar {
  padding-bottom: 40px;
  padding-top: 30px; }

/* line 206, theme/styles/screen.scss */
body .watermark {
  position: absolute;
  top: 10px;
  left: -5px;
  font-size: 1em;
  z-index: 1000;
  -webkit-transform: rotate(-90deg) translateX(-100%) translateY(0%);
          transform: rotate(-90deg) translateX(-100%) translateY(0%);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  opacity: 0.6;
  color: #ff9300; }
  @media (min-width: 576px) {
    /* line 206, theme/styles/screen.scss */
    body .watermark {
      font-size: 2em; } }
  @media (min-width: 992px) {
    /* line 206, theme/styles/screen.scss */
    body .watermark {
      top: 0.5em;
      left: 0;
      font-size: 3em; } }
